<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.NumberGenerator.services.persistence.dao.PoolMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.NumberGenerator.services.persistence.model.Pool">
		<result column="number" property="number" />
		<result column="isUsed" property="isUsed" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        number, isUsed
    </sql>

	<insert id="batchInsert" parameterType="java.util.List">
		INSERT orderPool VALUES
		<foreach collection="list" separator="," index="index" item="item">
			(#{item.number},#{item.isUsed})
		</foreach>
	</insert>

	<select id="maxUsed" resultType="java.lang.Integer">
		SELECT max(isUsed) FROM orderPool
	</select>

	<update id="clearAll">
		UPDATE orderPool set isUsed = 0
	</update>

	<update id="setUsed" parameterType="Pool">
		UPDATE  orderPool set isUsed = 1 where number = #{pool.number}
	</update>

</mapper>
