<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.NumberGenerator.services.persistence.dao.PoolMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.NumberGenerator.services.persistence.model.Pool">
		<result column="number" property="number" />
		<result column="isUsed" property="isUsed" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        number, isUsed
    </sql>

	<insert id="batchInsert" parameterType="java.util.List">
		INSERT orderPool VALUES
		<foreach collection="list" separator="," index="index" item="item">
			(#{item.number},#{item.isUsed})
		</foreach>
	</insert>

	<select id="maxUsed" resultType="java.lang.Integer">
		SELECT max(isUsed) FROM orderPool
	</select>

	<update id="clearAll">
		UPDATE orderPool set isUsed = 0
	</update>

	<update id="setUsed" parameterType="Pool">
		UPDATE  orderPool set orderPool.isUsed = 1 where orderPool.number = #{number}
	</update>

	<update id="reback" parameterType="Pool">
		UPDATE  orderPool set orderPool.isUsed = 0 where orderPool.number = #{number}
	</update>

	<insert id="initTable">
		CREATE TABLE `orderPool` (
		  `number` varchar(255) NOT NULL COMMENT '单号',
		  `isUsed` int(11) NOT NULL DEFAULT '0' COMMENT '是否已经使用',
		  UNIQUE KEY `uni_num` (`number`)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='订单池'
	</insert>

	<select id="showTables" resultType="string">
		show tables
	</select>

</mapper>
