<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.NumberGenerator.services.persistence.dao.PoolMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.NumberGenerator.services.persistence.model.Pool">
		<result column="number" property="number" />
		<result column="isUsed" property="isUsed" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        number, isUsed
    </sql>

	<insert id="batchInsert" parameterType="java.util.List">
		INSERT orderPool(number,isUsed) VALUES
		<foreach collection="list" separator="," index="index" item="item">
			(#{item.number},#{item.isUsed})
		</foreach>
	</insert>

	<select id="maxUsed" resultType="java.lang.Integer" parameterType="integer">
		SELECT max(isUsed) FROM orderPool WHERE #{num} = #{num}
	</select>

	<update id="clearAll" parameterType="java.util.List">
		UPDATE orderPool set
		<foreach collection="list" separator="," index="index" item="item">
			${item} = 0
		</foreach>
	</update>

	<update id="setUsed" parameterType="com.jfeat.am.module.NumberGenerator.services.persistence.model.PoolModel">
		UPDATE  orderPool set orderPool.${preOrsuf} = 1 where orderPool.number = #{number}
	</update>

	<update id="reback" parameterType="com.jfeat.am.module.NumberGenerator.services.persistence.model.PoolModel">
		UPDATE  orderPool set orderPool.${preOrsuf} = 0 where orderPool.number = #{number}
	</update>

	<insert id="initTable">
		CREATE TABLE IF NOT EXISTS `orderPool` (
		  `number` varchar(255) NOT NULL COMMENT '单号',
		  `isUsed` int(11) NOT NULL DEFAULT '0' COMMENT '是否已经使用',
		  UNIQUE KEY `uni_num` (`number`)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8
	</insert>

	<delete id="addPrefix" parameterType="string">
		ALTER TABLE orderPool ADD ${prefix} SMALLINT(5) default 0
	</delete>

	<select id="showTables" resultType="string">
		show tables
	</select>

	<select id="preOrSuf" parameterType="com.jfeat.am.module.NumberGenerator.config.PageForPool" resultType="Pool">
		select number,${preOrSuf} AS isUsed from orderPool WHERE ${preOrSuf}=0  limit #{index},#{pageSize}
	</select>

	<select id="showField" resultType="string">
		select COLUMN_NAME from information_schema.COLUMNS where table_name = 'orderPool'
	</select>

	<insert id="addConfig" parameterType="string">
		INSERT  INTO orderPool(number,isUsed) VALUES (#{time},3)
	</insert>

	<update id="setConfig" parameterType="string">
		UPDATE orderPool SET NUMBER = #{time} WHERE isUsed = 3
	</update>

	<select id="preOrSufCount" parameterType="string" resultType="integer">
		SELECT count(*) FROM orderPool WHERE ${preOrSuf} = 1
	</select>

</mapper>
